* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  font-family: "Inter", Helvetica;
  max-width: 1440px;
}

.menu-container {
    padding: 40px;
    gap: 40px;
}

.menu-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer-tabs {
    display: flex;
    flex-direction: row; 
}

.tab-item {
    display: flex;
    flex-direction: row; 
    padding: 8px 16px;
    border-radius: 100%;
    gap:8px;
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.grid-preview {

}

.preview-box img{
    border-radius: 40px;
    width:310px;
    height: 310px;
}

.preview-description {
    gap: 12px;
}

.description-title {

}