:root {
    --bg-color-page: #E1D4C9;
    --bg-color-container: #665F55;
    --bg-color-overlay: #403F3D;
    --text-color-primary: #403F3D;
    --text-color-inverse: #E1D4C9;
    --text-color-accent: #B0907A;
    --border-color-primary: #C1B6AD;
    --border-color-inverse: #665F55;
}

.dark {
    --bg-color-page: #292826;
    --bg-color-container: #403F3D;
    --bg-color-overlay: #292826;
    --text-color-primary: #E1D4C9;
    --text-color-inverse: #E1D4C9;
    --text-color-accent: #B0907A;
    --border-color-primary: #665F55;
    --border-color-inverse: #C1B6AD;
}

.color-text-primary {
    color: var(--text-color-primary);
}

.color-text-inverse {
    color: var(--text-color-inverse);
}

.color-text-accent {
    color: var(--text-color-accent);
}

.color-background-page {
    background-color: var(--bg-color-page);
}

.color-background-container {
    background-color: var(--bg-color-container);
}

.color-background-overlay {
    background-color: var(--bg-color-overlay);
}

.color-border-primary {
    border-color: var(--border-color-primary);
}

.color-border-inverse {
    border-color: var(--border-color-inverse);
}

