:root {
    --bg-color-page: #E1D4C9;
    --bg-color-container: #665F55;
    --bg-color-overlay: #403F3D;
    --text-color-primary: #403F3D;
    --text-color-inverse: #E1D4C9;
    --text-color-accent: #B0907A;
    --border-color-primary: #C1B6AD;
    --border-color-inverse: #665F55;
    --logo-img: url('../icons/logo-light.png');
    --sun-color-button: #B0907A;
    --moon-color-button: transparent;
    --sun-color-button-hover: #B0907A;
    --moon-color-button-hover: #665F55;
    --menu-cup-img: url('../icons/coffee-cup.png');
    --burger-menu-img: url('../icons/burger-menu.png');
    --apple-app-img: url('../icons/apple-default-icon.png');
    --google-app-img: url('../icons/google-default-icon.png');
    --apple-app-img-hover: url('../icons/apple-default-icon-dark.png');
    --google-app-img-hover: url('../icons/google-default-icon-dark.png');
    --cup-img-display: block;
    --cup-img-dark-display: none;
    --bg-color-social-hover: #E1D4C9;
    --stroke-color-social: #E1D4C9;
    --stroke-color-social-hover: #403F3D;
}

.dark {
    --bg-color-page: #292826;
    --bg-color-container: #403F3D;
    --bg-color-overlay: #292826;
    --text-color-primary: #E1D4C9;
    --text-color-inverse: #E1D4C9;
    --text-color-accent: #B0907A;
    --border-color-primary: #665F55;
    --border-color-inverse: #C1B6AD;
    --logo-img: url('../icons/logo-dark.png');
    --sun-color-button: transparent;
    --moon-color-button: #B0907A;
    --sun-color-button-hover: #665F55;
    --moon-color-button-hover: #B0907A;
    --menu-cup-img: url('../icons/coffee-cup-dark.png');
    --burger-menu-img: url('../icons/burger-menu-dark.png');
    --apple-app-img: url('../icons/apple-default-icon-dark.png');
    --google-app-img: url('../icons/google-default-icon-dark.png');
    --apple-app-img-hover: url('../icons/apple-default-icon-dark.png');
    --google-app-img-hover: url('../icons/google-default-icon-dark.png');
    --cup-img-display: none;
    --cup-img-dark-display: block;
    --bg-color-social-hover: #292826;
    --stroke-color-social: #E1D4C9;
    --stroke-color-social-hover: #E1D4C9;
}

.color-text-primary {
    color: var(--text-color-primary);
}

.color-text-inverse {
    color: var(--text-color-inverse);
}

.color-text-accent {
    color: var(--text-color-accent);
}

.color-background-page {
    background-color: var(--bg-color-page);
}

.color-background-container {
    background-color: var(--bg-color-container);
}

.color-background-overlay {
    background-color: var(--bg-color-overlay);
}

.color-border-primary {
    border-color: var(--border-color-primary);
}

.color-border-inverse {
    border-color: var(--border-color-inverse);
}

