.color-text-primary {
    color: #403F3D;
}

.color-text-inverse {
    color: #E1D4C9;
}

.color-text-accent {
    color: #B0907A;
}

.color-background-page {
    background-color: #E1D4C9;
}

.color-background-container {
    background-color: #665F55;
}