footer {
    margin: 40px;
}

.contact-us {
    padding: 40px;
}
.contacts-container {
    background-color: var(--bg-color-container);
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    padding: 100px;
    gap: 100px;
    max-width: 1360px;
}

.contacts-offer {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contacts-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0;
    gap: 12px;
}

.contacts-socials-img {
    cursor: pointer;
    stroke: var(--stroke-color-social);
}

.contacts-socials-img:hover {
    background-color: var(--bg-color-container);
    fill: var(--bg-color-social-hover);
    stroke: var(--stroke-color-social-hover);
}

.contacts-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

.contacts-info-contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contacts-info-item {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

@media screen and (width <= 768px) {
    .contacts-container {
        flex-direction: column;
        padding: 100px 60px;

    }
    .contacts-socials {
        justify-content: flex-start;
    }
}

@media screen and (width <=380px) {
    .contact-us {
        padding: 16px;
    }
    .contacts-container {
        padding: 60px 16px;
    }
}