.logo {
 width: 100px;
 height: 60px;   
}

.header-container {
    padding: 40px;
}
.header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.nav-menu-item {
    list-style-type: none;
}

.header-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.theme-switch {
    padding: 0 1vw;
}

.cofee-text-menu {
    padding: 0 1vw;
}

.cofee-burger-menu {
    display: none;
    padding: 0 1vw;
}

@media screen and (width <= 768px) {
    .nav-menu {
        display: none;
    }
    .cofee-text-menu {
        display: none;
    }
    .cofee-burger-menu {
        display: flex;
    }
}